<a class="get-home" href="/shop">To Home Page</a>

<main id="ab">
    <h1>{{title}}</h1>
    <h2>shopId: {{shopId}}</h2>

    <form method="get" id="b1" action="/shopId/addItem/{{shopId}}">
        <button type="submit" value="search">Add</button>
    </form>
    <table width="25%" border="0">
        {{!-- <ul> --}}
            <tr style='text-align:left; background-color:#CCC'>
                <th />
                <th>Product Name:</th>
                <th>Product Details:</th>
                <th>Product Highlights:</th>
                <th>Price:</th>
                <th>Quantity Remaining:</th>
                <th>Date of Manufacture:</th>
                <th>Date of Expiry:</th>
            </tr>
            {{#each allItem}}
            {{!-- <p>------------------------------------------</p> --}}

            <tr>
                <td>
                    <div style="float:left">
                        <a href='/shopId/editItem/{{this._id}}'>Edit</a>
                        {{!-- <input type="submit" name="delete" value='Delete' />
                        <input type="hidden" name="_method" value="DELETE" /> --}}

                        <form method="post" action="/shopId/delete/{{this._id}}?_method=DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" name="delete" value='Delete' />
                        </form>

                        {{!-- <form action="/shopId/delete/{{this._id}}" style="float:right">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="submit" name="delete" value='Delete' />
                        </form>
                        --}}
                    </div>
                </td>
                {{!-- <label for="na">{{this._id}}</label> --}}
                {{!-- <td><label type="text" name="name" id="name" value="{{this._id}}">{{this._id}}</label></td> --}}
                <td><label type="text" name="name" id="name" value="{{this.productname}}">{{this.productname}}</label>
                </td>
                <td><label type="text" name="name" id="name"
                        value="{{this.productdetails}}">{{this.productdetails}}</label></td>
                <td><label type="text" name="name" id="name"
                        value="{{this.producthighlights}}">{{this.producthighlights}}</label></td>
                <td><label type="text" name="name" id="name" value="{{this.price}}">{{this.price}}</label></td>
                <td><label type="text" name="name" id="name"
                        value="{{this.quantityremaining}}">{{this.quantityremaining}}</label></td>
                <td><label type="text" name="name" id="name"
                        value="{{this.dateofmanufacture}}">{{this.dateofmanufacture}}</label></td>
                <td><label type="text" name="name" id="name" value="{{this.dateofexpiry}}">{{this.dateofexpiry}}</label>
                </td>


            </tr>

            {{!-- <form method="delete" id="b1" action="/shopId/{{this._id}}">
                <button type="submit" value="search">Remove</button>
            </form>

            <form method="put" id="b2" action="/shopId/{{this._id}}">
                <button type="submit" value="search">Update</button>
            </form> --}}

            {{!--
            </li> --}}
            {{/each}}
    </table>
    {{!--
    </ul> --}}

</main>