<a class="get-home" href="/shop">To Home Page</a>
<main id="ab">
    <h3>{{title}}</h3>
    <h1>{{userdata.name}} </h1>


    <ul>
        
        {{#each allShop}}
        
        <li>
            <a class="person-item" href="/user/{{userId}}/shop/{{this._id}}">{{this.name}} </a>
        </li>
        <br>
        {{/each}}
    </ul>

</main>