<a class="get-home" href="/user">To Home Page</a>
<main id="ab">
    <h3>{{title}}</h3>
    <h1>{{userdata.name}} </h1>
    {{#if noData}}
    <h1 style="color: blueviolet;" for="overAllRating">{{noData}}</h1>
    {{/if}}
    <ul>
        {{#each allShop}}
        <li>
            <a class="person-item" href="/user/{{../userId}}/shop/{{this._id}}">{{this.name}} </a>
        </li>
        <br>
        {{/each}}
    </ul>
    {{!-- <h1>{{userdata.replayMessages}} </h1> --}}
</main>

{{!-- {{#if userdata.replayMessages}}
<h2> Message for you.</h2>
<table id="message" width="50%" border="5">

    <tr>
        <td>id</td>
        <th>User Name</th>
        <th>Message</th>
        <th></th>
    </tr>
    {{#each userdata.replayMessages}}
    <tr>
        <td>{{this.idUser}}</td>
        <td>{{this.shopNmae}}</td>
        <td>{{this.message}}</td>
        <td>
           <form method="post" action="/user/{{this.idUser}}/{{this._id}}?_method=DELETE" <input type="hidden" name="_method"
                value="DELETE">
                <input type="submit" name="delete" value='Delete' />
            </form>
        </td>
    </tr>
    {{/each}}
</table>
{{/if}} --}}