<section>
<a href="/users/profiledetail">User Profile</a>

<a href="/users/logout">logout</a>
</section>
<main id="ab">
    <h3>{{title}}</h3>
    <h1>{{userdata.name}} </h1>
    {{#if noData}}
    <h1 style="color: blueviolet;" for="overAllRating">{{noData}}</h1>
    {{/if}}
    <ul>
        {{#each allShop}}
        <li>
            <a class="person-item" href="/users/{{../userId}}/shop/{{this._id}}">{{this.ShopName}} </a>
        </li>
        <br>
        {{/each}}
    </ul>
    {{!-- <h1>{{userdata.replayMessages}} </h1> --}}
</main>

