{{!-- <a class="get-home" href="/user">To Home Page</a>

<main id="ab">
    <title>Welcome {{userData.name}} in {{shopName}}</title>

    <h3>shopId: {{shopId}}</h3>
    <h3>UserId: {{userData._id}}</h3>
    <table width="35%" border="0">
        <tr>
        <tr style='text-align:left; background-color:#CCC'>
            <th> Product Name</th>
            <th> Product Details</th>
            <th> Product Highlights</th>
            <th> Price</th>
            <th> Quantity Remaining</th>
            <th> Date of Manufacture</th>
            <th> Date of Expiry</th>
        </tr>
        {{#each allItem}}
        <tr>
            <td><label size="10" type="text" name="name" id="name"
                    value="{{this.productname}}">{{this.productname}}</label>
            </td>
            <td><label size="10" type="text" name="name" id="name"
                    value="{{this.productdetails}}">{{this.productdetails}}</label>
            </td>
            <td><label size="10" type="text" name="name" id="name"
                    value="{{this.producthighlights}}">{{this.producthighlights}}</label></td>
            <td><label size="10" type="text" name="name" id="name" value="{{this.price}}">{{this.price}}</label></td>
            <td><label size="10" type="text" name="name" id="name"
                    value="{{this.quantityremaining}}">{{this.quantityremaining}}</label></td>
            <td><label size="10" type="text" name="name" id="name"
                    value="{{this.dateofmanufacture}}">{{this.dateofmanufacture}}</label></td>
            <td><label size="10" type="text" name="name" id="name"
                    value="{{this.dateofexpiry}}">{{this.dateofexpiry}}</label>
            </td>
            </td>
        </tr>
        {{/each}}


    </table>


    {{#if comment}}
    <p id="message">{{comment}}</p>
    {{/if}}

    <br><br>
    <form method="post" id="addItem-form" action="/user/{{userData._id}}/shop/{{shopDetail._id}}">
        <label for="">Comment</label>
        <input type="message" name="message" />
        <button type="submit" id="submit addNew" class="btn btn-default">Send Comment</button>
    </form>

    {{#if mess}}
    <p id="message">{{mess}}</p>
    {{/if}}

    </tr>
</main> --}}