<a class="get-home" href="/shop">To Home Page</a>

<main class="ab">
    {{!-- <p id="bold">logIn form</p> --}}
    <h1>Edit Item {{shopName}}</h1>

    <form method="post" id="login-form" action="/shopId/editItem/{{itemDetail._id}}">

        <label> shop id: {{shopId}} </label><br>
        <label>itemId : {{itemDetail._id}}</label>
        <br>
        <br>

        <label>Product Name</label>
        <input required oninvalid="this.setCustomValidity('Please Enter Product Name')"
            oninput="this.setCustomValidity('')" type="text" name="productname" placeholder="Product Name"
            value="{{itemDetail.productname}}" />
        <br>
        <br>

        <label>Product Details</label>
        <input required oninvalid="this.setCustomValidity('Please Enter Product Details')"
            oninput="this.setCustomValidity('')" type="text" name="productdetails" placeholder="ProductDetails"
            value="{{itemDetail.productdetails}}" />
        <br>
        <br>

        <label>Product Highlights</label>
        <input type="text" name="producthighlights" placeholder="Product Highlights"
            value="{{itemDetail.producthighlights}}" />
        <br>
        <br>

        <label>Price</label>
        <input required oninvalid="this.setCustomValidity('Please Enter Valid Price')"
            oninput="this.setCustomValidity('')" type="text" name="price" placeholder="Price ( $ )"
            value="{{itemDetail.price}}" />
        <br>
        <br>

        <label>Quantity Remaining</label>
        <input required oninvalid="this.setCustomValidity('Please Enter Quantity Remaining')"
            oninput="this.setCustomValidity('')" type="number" name="quantityremaining" placeholder="Quantity Remaining"
            value="{{itemDetail.quantityremaining}}" />
        <br>
        <br>

        <label>Date of Manufacture</label>
        <input required oninvalid="this.setCustomValidity('Please Enter Valid Date')"
            oninput="this.setCustomValidity('')" type="date" name="dateofmanufacture" placeholder="Date of Manufacture"
            value="{{itemDetail.dateofmanufacture}}" />
        <br>
        <br>

        <label>Date of Expiry</label>
        <input required oninvalid="this.setCustomValidity('Please Enter Valid Date of Expiry')"
            oninput="this.setCustomValidity('')" type="date" name="dateofexpiry" placeholder="Date of Expiry"
            value="{{itemDetail.dateofexpiry}}" />
        <br>
        <br>

        <button id="search" type="submit" value="search">Edit</button>

    </form>

</main>