<a class="get-home" href="/shop">To Home Page</a>

<main class="ab">

    <form method="post" action="/shopId/{{itemDetail._id}}?_method=PUT">
        <input type="hidden" name="_method" value="PUT">

            <label> shop id: {{shopId}} </label><br>
            <label>itemId : {{itemDetail._id}}</label>
            <br>
            <br>
            <table border="3">
                <tr>
                    <th> <label>Product Name</label></th>
                    <th> <label>Product Details</label></th>
                    <th> <label>Product Highlights</label></th>
                    <th> <label>Price</label></th>
                    <th> <label>Quantity Remaining</label></th>
                    <th> <label>Date of Manufacture</label></th>
                    <th> <label>Date of Expiry</label></th>
                </tr>
                <tr>
                    <td> <input required oninvalid="this.setCustomValidity('Please Enter Product Name')"
                            oninput="this.setCustomValidity('')" type="text" name="productname"
                            placeholder="Product Name" value="{{itemDetail.productname}}" />
                    </td>
                    <td>
                        <input required oninvalid="this.setCustomValidity('Please Enter Product Details')"
                            oninput="this.setCustomValidity('')" type="text" name="productdetails"
                            placeholder="ProductDetails" value="{{itemDetail.productdetails}}" />
                    </td>
                    <td>
                        <input type="text" name="producthighlights" placeholder="Product Highlights"
                            value="{{itemDetail.producthighlights}}" />
                    </td>
                    <td>
                        <input required oninvalid="this.setCustomValidity('Please Enter Valid Price')"
                            oninput="this.setCustomValidity('')" type="text" name="price" placeholder="Price ( $ )"
                            value="{{itemDetail.price}}" />
                    </td>
                    <td>
                        <input required oninvalid="this.setCustomValidity('Please Enter Quantity Remaining')"
                            oninput="this.setCustomValidity('')" type="number" name="quantityremaining"
                            placeholder="Quantity Remaining" value="{{itemDetail.quantityremaining}}" />
                    </td>
                    <td>
                        <input required oninvalid="this.setCustomValidity('Please Enter Valid Date')"
                            oninput="this.setCustomValidity('')" type="date" name="dateofmanufacture"
                            placeholder="Date of Manufacture" value="{{itemDetail.dateofmanufacture}}" />
                    </td>
                    <td>
                        <input required oninvalid="this.setCustomValidity('Please Enter Valid Date of Expiry')"
                            oninput="this.setCustomValidity('')" type="date" name="dateofexpiry"
                            placeholder="Date of Expiry" value="{{itemDetail.dateofexpiry}}" />
                    </td>
                    <td> <input type="submit" name="Edit" value='Edit' />
                    </td>
                </tr>
            </table>

            {{#if message}}
            <p id="message">{{message}}</p>
            {{/if}}

        </form>

</main>