
<form action="/user/updateprofile/{{id}}" id="update_user_profile" method="post">
<div id="errorDiv"  hidden> <p>{{error}}</p>
        
    </div>
<label for="firstname"><b>firstname</b></label>
    <input type="text" placeholder="Enter firstname" name="firstname" id="userfirstname"  value="{{firstName}}"  >
    <br>
    <label for="lastname"><b>lastname</b></label>
    <input type="text" placeholder="Enter lastname" name="lastname" id="userlastname" value="{{lastname}}"  >
    <br>
    <label for="address"><b>address</b></label>
    <input type="text" placeholder="Enter address" name="address" id="useraddress" value="{{address}}"  >
    <br>
    <label for="city"><b>city</b></label>
    <input type="text" placeholder="Enter city" name="city" id="usercity" value="{{address}}" >
    <br>
    <label for="zipcode"><b>zipcode</b></label>
    <input type="text" placeholder="Enter zipcode" name="zipcode" id="userzipcode" pattern="[0-9]{5}" value="{{zipcode}}" >

    <button type="submit" name="editbtn" id="editbtn">update</button>
</form>